<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Here Is The Information In Details</h2>
    <ul>
        <li><%= value.title %></li>
        <li><%= value.description %></li>
        <li><%= value.price %></li>
        <li><%= value.location %></li>
        <li><%= value.country %></li>
    </ul> 
    <a href="/listings/edit/<%=value._id%>">Edit Listing</a> 
    <a href="/listings/delete/<%=value._id%>">Delete Listing</a> 
    
</body>
</html>