<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
      <div class="col-6 offset-3">       
    <div class="card mt-3" style="width: 100%;">
        <img src="<%= value.image %>" class="card-img-top" alt="House Image ">
        <div class="card-body">
          <p class="card-text">
            <b><%= value.title %></b><br>
            <%= value.description %> <br>
            &#8377; <%= value.price.toLocaleString("en-In") %><br>
            <%= value.location %><br>
            <%= value.country %><br><br>
            <button class="btn green-btn">
                <a href="/listings/edit/<%=value._id%>">Edit</a> 
            </button>
            <button class="btn red-btn">
                <a href="/listings/delete/<%=value._id%>">Delete</a> 
            </button>
          </p>
        </div>
      </div>
    </div>
</div>
    
    
</body>
