<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <form
        method="post"
        action="/listings/<%= doc._id %>?_method=PATCH"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="listing[title]"
            value="<%= doc.title %>"
            required
          />
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="description"
            name="listing[description]"
            required
          ><%= doc.description %></textarea
          >
        </div>
        <div class="mb-3">
          <img src=<%= img %> alt="">
          <br>
          <label for="image" class="form-label"> Upload New Listing Image</label>
          <input
            type="file"
            class="form-control"
            id="image"
            name="listing[image]"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="listing[price]"
              value="<%= doc.price %>"
              required
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              id="country"
              name="listing[country]"
              value="<%= doc.country %>"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>

          <input
            type="text"
            class="form-control"
            id="location"
            name="listing[location]"
            value="<%= doc.location %>"
            required
          />
        </div>

        <button class="btn green-btn">Submit</button>
      </form>
    </div>
  </div>
</body>
